.whatsapp-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #25D366;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.whatsapp-button img {
  width: 30px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}

.whatsapp-button:hover img {
  transform: scale(1.1);
}

@keyframes click-indication {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.whatsapp-button:active {
  animation: click-indication 0.3s ease;
}
a{
  text-decoration: none;
}
